@model WebStore.Models.ViewModel.Products.AboutProductVm

<div id="container">
    <h4 id="text"> <b>@Model.Name </b></h4>
    <p id="container"> Номер - @Model.Number</p>
    <hr />
</div>
<hr />


<div id="container">

    <div style="text-align: center;"> <img src="@Model.Image" /></div>
    <hr />
    <div><h4 id="text">Ціна: @Model.PriceGoods</h4> &nbsp;грн</div>
   <hr />
    <div style="text-align: center;"> @Model.Discription</div>
    <br />
    <div id="container" style="text-align: center;"> <b>@Model.DiscriptionFull</b></div>

</div>


<style>
    #text {
        color: brown;
        text-align: center;
        margin-left: 80px;
    }

    #container {
        background-color: aliceblue;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 25px;
    }
</style>

