@model List<WebStore.Models.ViewModel.Products.ProductVm>

<div id="conteiner">
    <h4> <b> Сумки ручної роботи </b></h4>
</div>
<hr />

<div  id="container">


        @foreach (var product in Model)
        {

            <div id="container">
                <p>@product.Number</p>
               <ul>
                   <li> <a href="@Url.Action("About", "Product", new { Id = product.Id })"><img src="@product.Image" /><h4><b>@product.Name</b></h4></a></li>
                   <li><hr /></li>
                   <li style="color:brown"><b> @product.PriceGoods &nbsp;грн</b></li>
                   <li></li>
                </ul>
            </div>

        }


</div>


