@model WebStore.Models.ViewModel.Products.ProductsViewModel

<div id="container">
      <h4 style="color:brown;text-align:center;"> <b>&nbsp; &nbsp; @Model.CategoryName </b></h4>

</div>
<hr />

<form asp-action="Index" asp-controller="Product">
    &nbsp;&nbsp;
    <input type="hidden" name="categoryId" value="@Model.CategoryId" />
    <input type="text" name="priceGoods" placeholder=" Пошук по ціні" />
    <input type="text" name="name" placeholder=" Пошук по назві  " />
    <button type="submit"> Пошук </button>
    &nbsp; &nbsp;&nbsp;
    <span id="newcat"> <a asp-action="Create">Добавити нову</a></span>
</form>

<hr />
@if (Model != null)
{
    <div class="cont" id="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Номер</th>
                    <th></th>
                    <th>Назва</th>
                    <th>Ціна</th>
                    <th>Опис</th>
                    <th></th>
                    <th></th>
                </tr>

            </thead>
            <tbody>
                @foreach (var prod in Model.Products)
                {


                    <tr>
                        <td>@prod.Number</td>
                        <td><img id="Img_logo" src="@prod.Image"></td>
                        <td><b> @prod.Name </b></td>
                        <td><b>@prod.PriceGoods&nbsp; грн</b></td>
                        <td>@prod.Discription</td>
                        <td>
                            <form asp-action="Edit" asp-route-id="@prod.Id" method="post">
                                <button type="submit">
                                    Редагувати
                                </button>
                            </form>
                        </td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@prod.Id" method="post">
                                <button type="submit" class="btn btn-sm btn-danger">
                                    Видалити
                                </button>
                            </form>
                        </td>

                    </tr>

                }
            </tbody>
        </table>
    </div>
}

<style>
    #Img_logo {
        width: 80%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
    }

    #newcat {
        background-color: #f1f1f1;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 10px;
    }

    #container {
        background-color: aliceblue;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 25px;
    }
</style>
