@model WebStore.Models.ViewModel.Products.ProductsViewModel

<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"
        integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous">

</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css"
      integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg==" crossorigin="anonymous" />
<script>
    // 1
    function overrideSubmit(evt, onSuccess) {
        const submitUrl = evt.target.action;


        var formData = new FormData(evt.target);
        var request = new XMLHttpRequest();


        // ??? ToDo -> що це за submitUrl
        request.open("POST", submitUrl);
        request.send(formData);

        // 4
        // заменён на правильный обработчик onload https://learn.javascript.ru/xmlhttprequest
        request.onload = function () {
            console.log(request);
            const status = request.status;
            const text = request.response;

            if (status !== 200) {
                iziToast.error({
                    title: 'Error',
                    message: text,
                    position: 'topRight',
                });
                return;
            }



            // 5
            iziToast.success({
                title: 'OK',
                message: text,
                position: 'topRight',
            });

            if (onSuccess) {
                onSuccess(request);
            }
        };
    }

</script>

<div id="container">
    <h4 style="color:brown;text-align:center;"> <b>&nbsp; &nbsp; @Model.CategoryName </b></h4>

</div>
<hr />

<form asp-action="ProductListForAdmin" asp-controller="Product">
    &nbsp;&nbsp;
    <input type="hidden" name="categoryId" value="@Model.CategoryId" />
    <input type="text" name="namePrice" placeholder=" Пошук по ціні, назві" />
    @*<input type="text" name="wordSearch" placeholder=" Пошук по назві  " />*@
    <button type="submit"> Пошук </button>
    &nbsp; &nbsp;&nbsp;
    &nbsp; &nbsp;&nbsp;
    <span id="newcat"> <a asp-action="Create">Добавити</a></span>
</form>

<hr />
@if (Model != null)
{
    <div class="cont" id="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Номер</th>
                    <th></th>
                    <th>Назва</th>
                    <th>Ціна</th>
                    <th>Опис</th>
                    <th></th>
                    <th></th>
                </tr>

            </thead>
            <tbody>
                @foreach (var prod in Model.Products)
                {

                    <tr data-productrowid="@prod.Id">
                        <td>@prod.Number</td>
                        <td><img id="Img_logo" src="@prod.Image"></td>
                        <td><b> @prod.Name </b></td>
                        <td><b>@prod.PriceGoods&nbsp; грн</b></td>
                        <td>@prod.Discription</td>
                        <td>
                            <form asp-action="Edit" asp-route-id="@prod.Id" method="post">
                                <button type="submit">
                                    Редагувати
                                </button>
                            </form>
                        </td>
                        <td>
                            @*// 2*@
                            @*//3*@
                            <form data-formid="@prod.Id" asp-action="Delete" asp-route-id="@prod.Id" method="post">
                                <button type="submit" class="btn btn-sm btn-danger">
                                    Видалити
                                </button>
                            </form>
                        </td>

                    </tr>

                }
            </tbody>
        </table>
    </div>
}

<script>
    function removeElementByAttributeValue(attrName, attrValue) {
        // должен получиться селектор в виде [data-productrowid="1"]
        const selector = `[data-${attrName}="${attrValue}"]`;
        const elementToRemove = document.querySelector(selector);
        elementToRemove.remove();
    }

    document.body.addEventListener("submit", function (evt) {
        const formId = evt.target.dataset['formid'];
        if (!formId) {
            return;
        }

        evt.preventDefault();
        evt.stopPropagation();
        overrideSubmit(evt, function (req) {
            removeElementByAttributeValue("productrowid", formId);
        });
    });
</script>

<style>
    #Img_logo {
        width: 80%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
    }

    #newcat {
        background-color: #f1f1f1;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 10px;
    }

    #container {
        background-color: aliceblue;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 25px;
    }
</style>




@*
        Обновить всю страницу можно через location.reload(), но обычно обновляют только часть (таблицу или ряд таблицы).

    У нас есть функция overrideSubmit. Для удаления ряда таблицы:
    1. добавляем в overrideSubmit второй параметр - функцию onSuccess. Вызываем его в случае упеха, на ProductListForAdmin:49
    2. при выводе списка добавляем атрибут data-productrowid="@prod.Id" к ряду таблицы <tr>
        , чтобы иметь уникальный "айдишник" ряда
        3. объявляем функцию removeElementByAttributeValue, которая принимает название атрибута, его значение, и удаляет элемент из документа
        4. вызываем overrideSubmit, передав вторым аргументом функцию, которая вызовет удаление ряда
*@
