@model WebStore.Models.ViewModel.Products.ProductsViewModel

<div id="conteiner">
    <h4 style="color:brown; margin-left: 100px;"> <b> Сумки ручної роботи </b></h4>
</div>

<div id="container">
    <span id="cat"> <a asp-action="Create">Добавити нову</a></span>
</div>

<hr />
@if (Model != null)
{
    <div class="cont" id="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Назва</th>
                </tr>
                <tr> </tr>
                <tr> </tr>
                <tr> </tr>
            </thead>
            @foreach (var prod in Model.Products)
            {
                <tbody>
                    <tr>
                        <td> &nbsp;&nbsp; <span><img src="@prod.Image" id="Img_logo"></span><b> @prod.Name </b> </td>
                        <td>@prod.Discription</td>
                        <td>
                            <form asp-action="Edit" asp-route-id="@prod.Id" method="post">
                                <button type="submit">
                                    Редагувати
                                </button>
                            </form>
                        </td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@prod.Id" method="post">
                                <button type="submit" class="btn btn-sm btn-danger">
                                    Видалити
                                </button>
                            </form>
                        </td>

                    </tr>
                </tbody>
            }
        </table>
    </div>
}

<style>
    #Img_logo {
        width: 15%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 10px;
    }

    #cat {
        background-color: #f1f1f1;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 10px;
    }

    #container {
        background-color: aliceblue;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 25px;
    }
</style>
