@model WebStore.Models.ViewModel.Home.UserViewModel



@if (Model != null && Model.RoleName == "Admin")
{
    <div class="topMenu">
       
        <div id="contMenu">
            <a asp-action="Index" asp-controller="Category">Категорії </a>
        </div>
        <div id="contMenu">
            <a asp-action="UserList" asp-controller="Roles">Користувачі </a>
        </div>

    </div>

}
<div >
    <a id="conteiner" asp-action="Index" asp-controller="Basket" asp-route-userId="@Model.User?.Id">
        <img style="width: 5%;" src="~/images/basket.PNG" />(@Model.CountProducts)
    </a>
</div>



<hr />


<div id="container">
    <img style=" width: 10%;" src="~/images/logo.png" />
    <span id="text_logo"><b>HandMade_shop</b> - товари ручної роботи</span>
</div>


<hr />

<h5><b style="color:brown">Групи роварів і послуг</b></h5>
<hr />

<div id="container">
    @*<div style="display: inline;">*@

    @foreach (var cat in Model.CategoryVm)
    {

        <div class="card" id="cardBord">
            <a href="@Url.ActionLink("Index", "Product", new
                      {
                          categoryId = cat.Id
                      })"> <img src="@cat.Img" style="width: 100%;"><h4>@cat.Name</h4></a>
                </div>

            }

</div>


<style>
    #imgLogo1 {
        width: 5%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px; /* 5px rounded corners */
        width: 30%;
        display: inline-block;
        text-align: center;
        margin-left: 15px;
        margin-bottom: 10px;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }



    #text_logo {
        color: saddlebrown;
        font-size: 25pt;
    }


    #contMenu {
        background: #f1f1f1;
        font-weight: bold;
        float: left;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 50px;
        text-align: center;
        padding: 10px;
    }

    #container {
        background-color: aliceblue;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 25px;
    }

    #cardBord {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 25px;
    }

        #cardBord:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
</style>
